<div class="instruction">
  <div class="instruction-box blue">
    <h3>Azul</h3>
    <p>Tudo que for feito de Papel e papelão.</p>
  </div>
  <div class="instruction-box green">
    <h3>Verde</h3>
    <p>Qualquer resíduo de Vidro.</p>
  </div>
  <div class="instruction-box yellow">
    <h3>Amarela</h3>
    <p>Qualquer objeto Metálico.</p>
  </div>
  <div class="instruction-box red">
    <h3>Vermelha</h3>
    <p>Materais feitos de Plásticos.</p>
  </div>
  <button routerLink="/home">Voltar para Home</button>
</div>


<div class="quiz">
  <h2>Em que lixo devemos jogar o papel?</h2>
  <img src="https://cdn-icons-png.freepik.com/256/15468/15468405.png?ga=GA1.1.943864788.1731188083&semt=ais_hybrid" alt="Imagem do material" class="material-image" />
  <div class="bins">
    <div class="bin" (click)="checkAnswer('green')">
      <img src="https://img.icons8.com/?size=100&id=HqZT9IIJSk1p&format=png&color=40C057" alt="Lixeira verde" class="bin-image dashed" />
      <p>Verde</p>
    </div>
    <div class="bin" (click)="checkAnswer('blue')">
      <img src="https://img.icons8.com/?size=100&id=HqZT9IIJSk1p&format=png&color=00509e" alt="Lixeira azul" class="bin-image dashed" />
      <p>Azul</p>
    </div>
    <div class="bin" (click)="checkAnswer('yellow')">
      <img src="https://img.icons8.com/?size=100&id=HqZT9IIJSk1p&format=png&color=FAB005" alt="Lixeira amarela" class="bin-image dashed" />
      <p>Amarela</p>
    </div>
    <div class="bin" (click)="checkAnswer('red')">
      <img src="https://img.icons8.com/?size=100&id=HqZT9IIJSk1p&format=png&color=FA5252" alt="Lixeira vermelha" class="bin-image dashed" />
      <p>Vermelha</p>
    </div>
  </div>
  <p class="feedback" *ngIf="feedback">{{ feedback }}</p>
  <button
  class="next-button"
  *ngIf="showNextButton"
  routerLink="/segunda-atividade"
>
  Próxima Atividade
</button>


</div>
