.pontuacao-container {
    background: linear-gradient(135deg, #1e3a78, #4a90e2);
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    /* max-width: 600px; */
    margin: 0 auto;
    height: 150vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
  
    .titulo {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    .top-player {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
  
      .medalha img {
        width: 50px;
        height: 50px;
      }
  
      .top-info {
        margin-left: 10px;
  
        .player-nome {
          font-size: 1.5rem;
          font-weight: bold;
        }
  
        .player-pontuacao {
          font-size: 1.2rem;
          color: #ffdd44;
        }
      }
    }
  
    .lista-jogadores {
      .jogador {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.2);
        margin: 5px 0;
        padding: 10px 15px;
        border-radius: 5px;
  
        .posicao {
          font-size: 1.2rem;
          font-weight: bold;
          color: #ffdd44;
        }
  
        .avatar img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
  
        .info-jogador {
          text-align: left;
  
          .nome {
            font-size: 1rem;
            font-weight: bold;
          }
  
          .pontuacao {
            font-size: 0.9rem;
            color: #ffdd44;
          }
        }
      }
    }
  }
  