.desafios {
    text-align: center;
    padding: 20px;
    background-color: #ffef5e;
  
    h1 {
      color: #28a745;
    }
  
    p {
      font-size: 18px;
      margin: 10px 0;
    }
  
    button {
      padding: 10px 20px;
      background-color: #00a37d;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #007a5c;
      }
    }
  }
  
  .container {
    max-width: 1400px;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ffef5e;
  }
  
  h1, h2 {
    text-align: center;
    color: #2c3e50;
  }
  
  .formulario {
    background: #9ec5ec;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .formulario input,
  textarea,
  button {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 0.4px solid #ccc;
  }
  
  textarea {
    resize: none;
    height: 80px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .preview {
    text-align: center;
    margin-top: 10px;
  }
  
  .preview img {
    max-width: 100%;
    height: auto;
    border: 2px solid #dee2e6;
    border-radius: 5px;
  }
  
  .feed {
    margin-top: px;
    background-color: #ffef5e;
  }
  
  .postagem {
    background: #78d113;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .postagem img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto 15px;
    border-radius: 10px;
  }
  
  .postagem span {
    font-weight: bold;
    color: #f8fcf9;
  }
  
  .aviso {
    background: #bcddff;
    padding: 10px;
    border-left: 4px solid #ffc002;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .checklist {
    list-style: none;
    padding: 0;
  }
  
  .checklist li {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .checklist input[type="checkbox"] {
    margin-right: 10px;
  }
  /* Para telas menores que 480px (celulares pequenos) */
@media (max-width: 480px) {
  h1, h2 {
    font-size: 1.25rem;
  }

  .formulario input,
  textarea,
  button {
    font-size: 12px;
  }

  .checklist li {
    font-size: 12px;
  }
}