<div class="jornada-agua">
    <div class="imagem">
      <img [src]="historias[historiaAtual].imagem" alt="Imagem da história" />
    </div>
    <div class="texto">
      <p>{{ historias[historiaAtual].texto }}</p>
    </div>
    <div class="botoes">
      <button routerLink="/lixeira-falante">História Anterior</button>
      <button (click)="voltar()" [disabled]="historiaAtual === 0">Voltar</button>
      <button (click)="avancar()" [disabled]="historiaAtual === historias.length - 1">Avançar</button>
      <button routerLink="/reciclador-estrela">Próxima História</button>
    </div>
  </div>