
  <div class="historia-container">
    <div class="header">
      <button class="btn-voltar" (click)="voltar()">Voltar</button>
    <h1>Histórias Ecológicas</h1>
    </div>
  
    <div class="content">
      <div class="image-container">
      <img src="https://img.icons8.com/?size=100&id=114461&format=png&color=000000" alt="Livro ecológico" style="width: 300px; max-width: 900px; height: auto; margin-bottom: 50px;">
      </div>
      <div class="actions">
        <button class="btn-ler" (click)="lerHistoria()">Ler</button>
      </div>
    </div>
  </div>





